In [5]:
import pandas as pd
import numpy as np

ImportError: No module named 'seaborn'

In [6]:
df = pd.read_csv("production-yearly-total.csv", sep=None)
df.head()

C:\Users\Adam\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

,"ï»¿""prfYear""",prfPrdOilNetMillSm3,prfPrdGasNetBillSm3,prfPrdCondensateNetMillSm3,prfPrdNGLNetMillSm3,prfPrdOeNetMillSm3,prfPrdProducedWaterInFieldMillSm3
0,2017,31.993,43.087,7.180,0.669,82.929,59.268
1,2016,94.009,116.649,20.176,1.879,232.713,176.453
2,2015,90.965,117.152,19.601,2.468,230.187,184.518
3,2014,87.741,108.820,18.949,2.913,218.423,172.475
4,2013,84.939,108.746,17.718,3.991,215.394,156.410

In [9]:
df2 = df.applymap(lambda x: '%.0f' % x)
df2.head()

,"ï»¿""prfYear""",prfPrdOilNetMillSm3,prfPrdGasNetBillSm3,prfPrdCondensateNetMillSm3,prfPrdNGLNetMillSm3,prfPrdOeNetMillSm3,prfPrdProducedWaterInFieldMillSm3
0,2017,32,43,7,1,83,59
1,2016,94,117,20,2,233,176
2,2015,91,117,20,2,230,185
3,2014,88,109,19,3,218,172
4,2013,85,109,18,4,215,156

In [10]:
df.to_csv("production-yearl-total2.csv", sep="\t", quoting=csv.QUOTE_NONE))
df2.to_csv("production-yearl-total3.csv",  sep="\t", quoting=csv.QUOTE_NONE))